*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
}
header{
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 5px;
}
form{
    border: 1px solid black;
    margin: auto;
    max-width: 50%;
    height: 400px;
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form > p{
    margin-bottom: 10px;
}
button > a{
    text-decoration: none;
    color: black;
}