<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/global.css">
</head>
<body>
    <header>
        <h1>Página de usuários</h1>

       <button><a href="{{ url_for('logout') }}">logout</a></button>
    </header>
    <main>
     <p>ola, seja bem vindo</p>

     <button><a href="/auditoria">Auditoria</a></button>
     <button><a href="/usuarios">Usuários</a></button>
     
   

    </main>
</body>
</html>